<div class="container contact-container">

  <div class="row justify-content-center">

    <div class="col-md-8 col-xl-8">
      <h1 class='title'>Contact with me!</h1>

       <form>
        <div class="form-gruop">
          <label>Your email</label>
          <input class="form-control">
        </div> 

        <div class="form-gruop">
          <label>Your number</label>
          <input class="form-control">
        </div>

        <div class="form-gruop">
          <label>Topic</label>
          <input class="form-control">
        </div>

        <div class="form-gruop">
          <label>Message</label>
          <textarea class="form-control"></textarea>
        </div>

        <button class="btn btn-primary submit-btn" value="Send">Send</button>
      </form> 
    </div>
  </div>
</div>